body {
  margin: 0;
  font-family: Georgia, serif;
}

.certificate {
  width: 1123px;
  height: 794px;
  background: url('https://i.etsystatic.com/11323145/r/il/7f7042/1489349106/il_fullxfull.1489349106_o3z1.jpg')
    no-repeat center;
  background-size: cover;
  padding: 120px 100px;
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-size: 48px;
}

.subtitle {
  text-align: center;
  font-size: 20px;
}

.name {
  text-align: center;
  font-size: 42px;
  margin: 30px 0;
}

.description {
  text-align: center;
  font-size: 18px;
}

.footer {
  position: absolute;
  bottom: 120px;
  left: 100px;
  right: 100px;
  display: flex;
  justify-content: space-between;
}

.line {
  width: 200px;
  border-top: 2px solid #333;
  margin-bottom: 6px;
}
