body {
  margin: 0;
  font-family: Georgia, serif;
}

.certificate {
  width: 1123px;
  height: 794px;
  background: url('https://res.cloudinary.com/dhwohyls5/image/upload/v1769167749/WhatsApp_Image_2026-01-20_at_9.40.28_PM_nga2ew.jpg')
    no-repeat center;
  background-size: cover;
  padding: 120px 100px;
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-size: 48px;
}

.subtitle {
  text-align: center;
  font-size: 20px;
}

.name {
  text-align: center;
  font-size: 42px;
  margin: 30px 0;
}

.description {
  text-align: center;
  font-size: 18px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding: 0 60px;
}

.footer-item {
  text-align: center;
  width: 200px;
}

.line {
  display: block;
  width: 100%;
  border-top: 2px solid #333;
  margin-bottom: 6px;
}

.label {
  font-size: 24px;
  margin: 0;
}
