<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="certificate.css" />
  </head>
  <body>
    <div class="certificate">
      <h2 class="name">{{name}}</h2>

      <p class="description">
        In recognition of outstanding contribution to Indian Islamic Cultural
        Foundation.
      </p>

      <div class="footer">
        <div class="footer-item">
          <span class="line"></span>
          <p class="label">{{date}}</p>
        </div>

        <div class="footer-item">
          <span class="line"></span>
          <p class="label">Authorized Signature</p>
        </div>
      </div>
    </div>
  </body>
</html>
