@import url('https://fonts.googleapis.com/css2?family=Playlist+Script&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

@page {
  size: A4 landscape;
  margin: 0;
}

.certificate {
  font-family: 'Playlist Script', cursive;

  width: 1123px;
  height: 794px;
  background: url('https://res.cloudinary.com/dhwohyls5/image/upload/v1769759090/WhatsApp_Image_2026-01-30_at_12.51.21_PM_pb1j2o.jpg')
    no-repeat center;
  background-size: cover;
  padding: 120px 100px;
  box-sizing: border-box;
}

.title {
  font-size: 48px;
  margin: 0;
}

.subtitle {
  font-size: 26px;
  margin-top: 10px;
}

.presented {
  margin-top: 40px;
  font-size: 16px;
  letter-spacing: 2px;
}

.name-wrapper {
  margin: 40px auto;
  width: 500px;
  border-bottom: 2px solid #9c7c3a;
  position: relative;
}

.name {
  font-family: 'Playlist Script', cursive;
  font-size: 36px;
  padding: 0 20px;
  position: relative;
  top: 190px;
  left: 20px;
}

.description {
  margin-top: 50px;
  font-size: 18px;
  line-height: 1.6;
}

.org {
  margin-top: 60px;
  font-size: 24px;
  letter-spacing: 1px;
}
