<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="certificate.css" />
  </head>
  <body>
    <div class="certificate">
      <h1 class="title">Certificate of Appreciation</h1>

      <p class="subtitle">This certificate is proudly presented to</p>

      <h2 class="name">{{name}}</h2>

      <p class="description">
        In recognition of outstanding contribution to Indian Islamic Cultural
        Foundation.
      </p>

      <div class="footer">
        <div>
          <span class="line"></span>
          <p>{{date}}</p>
        </div>
        <div>
          <span class="line"></span>
          <p>Authorized Sign</p>
        </div>
      </div>
    </div>
  </body>
</html>
